# Compiled class file
course-service/*.class
# Log file
course-service/*.log
# BlueJ files
course-service/*.ctxt

# Mobile Tools for Java (J2ME)
course-service/.mtj.tmp/
# Package Files 
course-service/*.jar
course-service/*.war
course-service/*.nar
course-service/*.ear
course-service/*.zip
course-service/*.tar.gz
course-service/*.rar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
course-service/hs_err_pid*
course-service/replay_pid*


.vscode

course-service/learning/target
account-service/database.db
account-service/app
